
:root{
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
}
body{
  margin: 0;
padding: 0;
width: 100vw;
box-sizing: border-box;
font-family: sans-serif;
height: 100vh;
overflow-x: hidden; 

}
html{
  overflow-x: hidden; 
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}